h1 {
	font-size: 2.5em;
	font-family: cursive;
	text-align: center;
}

h2 {
	font-size: 2.2em;
	font-family: cursive;
	text-align: center;
}

li {
	font-size: 1.7em;
}

li li {
	font-size: 1em;
}

tr {
	font-size: 1.7em;
}
