h1 {
	font-size: 2.5em;
	font-family: cursive;
	text-align: center;
}

h2 {
	font-size: 2.2em;
	font-family: cursive;
	text-align: center;
}

li {
	font-size: 1.7em;
}

li li {
	font-size: 1em;
}

tr {
	font-size: 1.7em;
}

.image1 {
    background: #ffffff url('img/innenstadt.jpg') no-repeat fixed top;
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-size: cover;
    padding-top: 25px;
}

.auto {
	height: 500px;
}

.flex {
	background: #ffffff url('img/fruhstuckpik.jpg') no-repeat ;
	background-size: contain;
	height: 250px;
	width: 370px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.flex {
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
