h1 {
	font-size: 2.5em;
	font-family: cursive;
	text-align: center;
	background-color:#6699ff;
}

h2 {
	font-size: 2.2em;
	font-family: cursive;
	text-align: center;
}

li {
	font-size: 1.7em;
}

li li {
	font-size: 1em;
}

tr {
	font-size: 1.7em;
}

.image1 {
    background: #ffffff url('img/innenstadt.jpg') no-repeat fixed top;
    margin-top: 50px;
    height: 500px;
    width: 100%;
    background-size: cover;
    padding-top: 25px;
}

.auto {
	height: 500px;
}

.flex {
	background: #ffffff url('img/fruhstuckpik.jpg') no-repeat ;
	background-size: contain;
	height: 250px;
	width: 370px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.flex {
    margin: auto;
}

.texte1, .texte2, .texte3 {
     float: left;
     width: 32%;
     margin-right: 2%;
     box-sizing: border-box;
}

.texte3:last-child {
     margin-right: 0;
}

.imagelage {
	text-align:center;
}

.tablepreis {
	text-align:center;
}

.austext {
	font-size: 1.5em;
}

.fahrpreis {
	text-align:center;
}